* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lime;  */
}
/* generali classi */
.flex{
    display: flex;

}
.flex-column{
    flex-direction: column;

}
.block{
    display: block
}


.btn-blu{
    background-color: rgb(8,97,255);
    color: white;
    padding: 10px 15px;
    font-size: 20px;
}
p{
    font-size: 20px;
    line-height: 25px;
}
body{
    font-family:sans-serif;
}


/* container header */
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.colonna1,
.colonna2 {
    display: flex;
    gap: 20px;
}


.colonna1 ul,
.colonna2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.colonna1 ul li,
.colonna2 ul li {
    display:flex;
    align-items: center;
    
}
/* container main */

.row1{
    background-color: rgb(180,208,231);
    width: 100%;
    height: 77vh;
}
.row1-container1{
    width: 65%;
    margin: 0 auto;
    justify-content: flex-start;
    padding-top: 100px;
}
.row1-container2{
    width: 65%;
    margin: 80px auto 0px;
    justify-content: flex-end;
}

.row1-container1 h1{
    width: 100%;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: 900;
   
}

.row1-colonna1{
    width: 30%;
    justify-content: center;
}
.row1-colonna2{
    width: 70%;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    display: inline;
}
.btn-80{
    width: 80%;
    margin-top: 45px;
    margin-bottom: 45px;
}
.row1-colonna2 img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-position: center;
    width: 100%;
}
.icons svg{
 margin-top: 120px;
}
/* secondo row main */

.row2{
    margin: 0 auto;
    width: 50%;
    margin-top: 200px;
}

.radio{
    margin-top: 75px;
}
.type-radio{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid red;
    display: inline-block;
}

.colonna-principale{
    margin: 50px auto 0px;
    width: 100%;
    gap: 45px;
}
.colonne{
    margin-top: 50px;
    border: 1px solid gray;
    width: 300px;
    
}
.colonne h4{
    line-height: 45px;
    
 }

.colonne span{
   line-height: 45px;
   display: block;
}


.piani-costo{
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    text-align: center;
}

.utente{
    margin-top: 30px;
}

.tasto{
    margin: 55px auto 40px;
}

.testo-colonne{
    padding: 15px;
}

#colonne-divisore{
    margin: 0px 10px 0px 0px;
    width: 30%;
}
.punti{
    margin-top: 30px;
}