* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lime;  */
}
/* generali classi */
.flex{
    display: flex;

}
.flex-column{
    flex-direction: column;

}
.block{
    display: block
}


.btn-blu{
    background-color: rgb(8,97,255);
    color: white;
    padding: 10px 15px;
    font-size: 20px;
}
.btn-white{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 15px;
    font-size: 20px;
}
p{
    font-size: 20px;
    line-height: 25px;
}
body{
    font-family:sans-serif;
}

.row-titoli{
    margin-top: 150px;
}

/* container header */
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.colonna1,
.colonna2 {
    display: flex;
    gap: 20px;
}


.colonna1 ul,
.colonna2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.colonna1 ul li,
.colonna2 ul li {
    display:flex;
    align-items: center;
    
}
/* container main */

.row1{
    background-color: rgb(180,208,231);
    width: 100%;
    height: 77vh;
}
.row1-container1{
    width: 75%;
    margin: 0 auto;
    justify-content: flex-start;
    padding-top: 100px;
}
.row1-container2{
    width: 75%;
    margin: 80px auto 0px;
    justify-content: flex-end;
}

.row1-container1 h1{
    width: 100%;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: 900;
   
}

.row1-colonna1{
    width: 30%;
    justify-content: center;
}
.row1-colonna2{
    width: 70%;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    display: inline;
}
.btn-80{
    width: 80%;
    margin-top: 45px;
    margin-bottom: 45px;
}
.row1-colonna2 img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-position: center;
    width: 100%;
}
.icons svg{
 margin-top: 120px;
}
/* secondo row main */

.row2{
    margin: 0 auto;
    width: 60%;
    margin-top: 200px;
}

.radio{
    margin-top: 75px;
}
.type-radio{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid red;
    display: inline-block;
}

.colonna-principale{
    margin: 50px auto 0px;
    width: 100%;
    gap: 45px;
}
.colonne{
    margin-top: 50px;
    border: 1px solid gray;
    width: 365px;
    
}
.colonne h4{
    line-height: 45px;
    
 }

.colonne span{
   line-height: 45px;
   display: block;
}


.piani-costo{
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
}

.utente{
    margin-top: 30px;
}

.tasto{
    margin: 55px auto 40px;
}

.testo-colonne{
    padding: 15px;
}

#colonne-divisore{
    margin: 0px 10px 0px 0px;
    width: 30%;
}
.punti{
    margin-top: 30px;
}

/* colonna orizontale */

.container-orizontale{
    border: 1px solid grey;
    margin: 40px 0 auto;
    width:100% ;
}
.container2-orizontale{
    padding: 0px 30px 30px;
}

.piani-costo{
    justify-content: center;

}
.colonna-orizontale1{
    width: 60%;
    line-height: 50px;
}
.colonna-orizontale2{
    width: 40%;
    position: relative;
}
.tasto-orizontale{
    position: absolute;
    right: 10px;
}
.paragraf{
    margin-top: 40px;
}

/* terzo row main */

.row3{
    margin: 0 auto;
    width: 60%;
    margin-top: 100px;
}
.row3-container{
    gap: 20px;
}

.row3-colonna1{
    width: 60%;
}
.row3-colonna1 img{
    height: 100%;
}
.row3-colonna2{
    width: 40%;
    justify-content: center;
    padding: 40px;
    line-height: 80px;
}
.container-btn-white{
    margin-top: 25px;
}
/* quarto row main */

.row4{
    margin: 0 auto;
    width: 60%;
    margin-top: 100px;
}
.row4-colonna2{
    gap: 50px;
    flex-wrap: wrap;
}

.container-operazioni{
    width:30%;
    line-height: 70px;
}

/* quinto row main */

.row5{
    margin: 0 auto;
    width: 60%;
    margin-top: 150px;
}
.row5-container1{
    line-height: 90px;
}
/* sento row main */

.row6{
    width: 100%;
    border: 1px solid gray;
    margin-top: 100px;
}

.row6-container1,
.row6-container2,
.row6-container3{
width: calc(100% / 3);
flex-wrap: wrap;
}
.row6-container2{
    justify-content: start;
    padding: 40px;
    align-content: flex-start;
    flex-wrap: nowrap;
}
.row6-container2 img{
    width: 50%;
}


.row6-logo{
    border: 1px solid red;
    width:50%;
    position: relative;
    padding-bottom: 50%;
    height: 0;
}

.row6-logo img{
    width: 70%;
    height: 70%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hr2{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 30%;
}
.testo-designit p{
    margin-bottom: 50px;
}
/* settimo row del main */

.row7{
    width: 100%;
    height: auto;
    background-color: rgb(180,208,231);
    height: 47vh;
    
}

.row7-container{
    width: 60%;
    margin: 0 auto;
    align-items: center; 
    justify-content: center;
}
.row7-colonna1{
    width: 60%;
    align-items: center; 
}
.row7-colonna2{
    width: 40%;
    align-items: center; 
    justify-content: center;
}
/* ottavo row main */

.row8{
    width: 100%;
    height: auto;
    
}
.row8-container1{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 150px;
}
.row8-lista{
    list-style-type: none;
}

.none{
    display: none;
}
.row8-lista ul li:hover p{
    display: block;
}
.row8-lista ul li{
    list-style-type: none;
    padding: 30px;
}
.row8-lista ul li span{
  align-content: end;
}
.row8-lista{
    margin-top: 50px;
    width: 90%;
   
}
.accordion .chevron{
    float:right;
}
.accordion-paragraph{
    padding:28px 0 0 0;
}
.accordion div{
    font-weight:600;
}

.brd-top{
    border-top: 1px solid;
    border-color: #aeaeae;
}
.brd-bottom{
    border-bottom: 1px solid;
    border-color: #aeaeae;
}
/* pirmo row footer */

.row1-footer{
    width: 100%;
    background-color: black;
    
}

.row1-container1{
    width: 75%;
    margin: 0 auto;
}
.row1-colonna1{
    width: 100%;
     margin: 0 auto;
}
.colonna-lista ul {
    list-style-type: none;
    color: white;
    width: 100%;

}
.colonna-lista{
    width: calc(100% / 5);
}
.lingue{
    width: 75%;
    margin: 0 auto;
}
.lingue hr{
    margin-top: 50px;
    width: 20%;
    margin: 0 auto;
}

.lingue svg {
  background-color: white;
  color: white;
}
.lingue ul li{
    color: white;
    display: inline;
}